@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

body{
    background-image: url(images/pattern-background-desktop.svg);
    background-color: hsl(225, 100%, 94%);
    background-repeat: repeat-x;
}

.container{

    background-color:white;
    width: 500px;
    text-align: center;
    margin: 80px auto 0 auto;
    border-radius: 3%;
}

img{
    margin: 0;
    width: 500px;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
}

.content{
    width: 300px;
    margin: 0 auto 0 auto;
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    color: hsl(224, 23%, 55%);

}

h1{
    margin-top: 40px;
    color: hsl(223, 47%, 23%);
    font-family: 'Red Hat Display', sans-serif;
    font-weight:900;
}

.heading{
    font-family: 'Red Hat Display', sans-serif;
    font-weight:900;
    color:hsl(223, 47%, 23%);
    padding-left: 70px;
}

.price{
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    color: hsl(224, 23%, 55%);
    padding-left: 70px;
}

.purchase{
    background-color: hsl(225, 100%, 98%);
    width: 400px;
    margin: 0 auto 0 auto;
    font-family: 'Red Hat Display', sans-serif;
    text-align: left;
    padding: 10px;
    margin-top: 30px;
}

.musicicon{
    width: 50px;
    float: left;
    margin: 10px;
}

.change{
    float: right;
    position: relative;
    bottom: 70px;
    color: #766cf1;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
}

.proceed{
    background-color: #766cf1;
    width: 400px;
    padding: 20px 50px 20px 50px;
    border:0;
    border-radius: 10px;
    display: block;
    margin: 0 auto 0 auto;
    color: white;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.cancel{
    width: 400px;
    background-color: white;
    padding: 20px 50px 20px 50px;
    border:0;
    border-radius: 10px;
    display: block;
    margin: 0 auto 0 auto;
    color: hsl(223, 47%, 23%);
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;
    font-size: 16px;
}